body {
    background-color: black;
    font-family: 'Philosopher', sans-serif;
    color: antiquewhite;
}

.card {
    color: black;
    border: 1rem solid gray;
}

.jumbotron {
    background: none;
    color: #000;
}

#btn {
    width: 300px;
    height: auto;
}

#gif {
    position: absolute;
    height: 65%;
    width:80%;
    margin-left: 25%;
    /* transform: translate(-50%, -50%); */
}

#inside-sphere {
    position: absolute;
    color: black;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#main-row {
    height:100vh;
}

#sphere {
    width: 80%;
    position: relative;
    text-align: center;
}

#timer {
    font-size: 7rem;
}

#title {
    font-size: 5vw;
}

#tv {
    width: 70%;
    position: relative;
    z-index: 10;
}

#tvImg {
    z-index: 100;
    margin-left: 50%;
}
