body {
    background-color: black;
    font-family: 'Philosopher', sans-serif;
    color: antiquewhite;
    
}

.card {
    color: black;
    border: 1rem solid gray;
}

.container {
    padding: 0;
    margin: 0;
}

.jumbotron {
    background: none;
    color: #000;
}

#btn {
    position: absolute;
    margin-top: 37%;
    width: 100%;
}

#btnImg {
    width: 50%;
    position: absolute;
}

#btnWords {
    margin-top:4vh;
    font-size: 4vw;
    color: black;
    position: absolute;
    z-index: 5;
}

#endVideo {
    position: relative;
    top: 10%;
}

#game-stats {
    margin-top: 95%;
}

#gif {
    position: absolute;
    height: 65%;
    width:80%;
}

#inside-sphere {
    position: absolute;
    color: black;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#main-row {
    height:100vh;
    position: relative;
}

#sphere {
    width: 80%;
    position: relative;
    text-align: center;
}

#timer {
    font-size: 7vh;
}

h2 {
    font-size:3vh;
}

#title {
    position: absolute;
    width: 100%;
}

#titleText {
    font-size: 5vw;
}

#tv {
    width: 100%;
    position: absolute;
    z-index: 10;
}

#tvImg {
    z-index: 100;
    width:80%;
}

#question {
    font-weight:bold;
    font-size:1.5vw;
}

.multipleChoice {
    margin-top:10px;
    margin-bottom:10px;
    font-size:1.4vw;
}

.multipleChoice:hover {
    background-color: rgb(198, 199, 199);
  }